{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
    <div class="col-md-8 col-md-offset-2 technology-left">
        <div class="agileinfo">
            <h2 class="w3">{{ news.header }}</h2>
            <h4>{{ news.date|date('F d, Y') }}</h4>
            <div class="single">
                <img src="{{ asset(news.image) }}" class="img-responsive" alt="">
                <div class="b-bottom">
                    <h5 class="top text-justify">{{ news.description }}
                    </h5>
                    <p class="sub">{{ news.text }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('news_index') }}">Back to the list</a>
                    {% else %}
                        <a href="{{ path('index') }}">Back to the list</a>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}